name: Notebooks test matrix
permissions:
  contents: read

env:
  PYTHONIOENCODING: utf-8
  PYTHONLEGACYWINDOWSSTDIO: utf-8
  NEPTUNE_PROJECT: ${{ vars.NEPTUNE_PROJECT }}
on:
  workflow_call:
    inputs:
      os:
        required: true
        type: string
    secrets:
      NEPTUNE_API_TOKEN:
        required: true
jobs:
  test-notebooks:
    runs-on: ${{ inputs.os }}
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.9", "3.10", "3.11", "3.12", "3.13"]
        notebooks: # Add in alphabetical order
          - how-to-guides/hpo/notebooks/Neptune_HPO.ipynb
          - how-to-guides/quickstart/notebooks/neptune_quickstart.ipynb
        os: ["${{ inputs.os }}"]
    steps:
      - uses: actions/checkout@main
      - uses: actions/setup-python@main
        with:
          python-version: ${{ matrix.python-version }}
          cache: "pip"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -U -r requirements.txt
      - name: Install setuptools for python>=3.12
        if: matrix.python-version >= 3.12
        run: pip install -U setuptools
      - name: Install libomp on MacOS
        if: matrix.os == 'macos-latest'
        run: brew install libomp
      - name: Test examples
        uses: nick-fields/retry@v3
        env:
          NEPTUNE_API_TOKEN: ${{ secrets.NEPTUNE_API_TOKEN }}
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_ACCESS_KEY_ID }}
        with:
          timeout_minutes: 60
          max_attempts: 2
          command: ipython ${{ matrix.notebooks }}
