name: Scripts test matrix
env:
  PYTHONIOENCODING: utf-8
  PYTHONLEGACYWINDOWSSTDIO: utf-8
  NEPTUNE_PROJECT: ${{ vars.NEPTUNE_PROJECT }}
on:
  workflow_call:
    inputs:
      os:
        required: true
        type: string
    secrets:
      NEPTUNE_API_TOKEN:
        required: true
jobs:
  test-scripts:
    runs-on: ${{ inputs.os }}
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.9", "3.10", "3.11", "3.12", "3.13"]
        scripts: # Add in alphabetical order
          - how-to-guides/debug-model-training-runs/scripts
          - how-to-guides/hpo/scripts
          - how-to-guides/quickstart/scripts
        os: ["${{ inputs.os }}"]
    steps:
      - uses: actions/checkout@main
      - uses: actions/setup-python@main
        with:
          python-version: ${{ matrix.python-version }}
          cache: "pip"
      - name: Upgrade pip
        run: python -m pip install --upgrade pip
      - name: Install setuptools for python>=3.12
        if: matrix.python-version >= 3.12
        run: pip install -U setuptools
      - name: Install libomp on MacOS
        if: matrix.os == 'macos-13'
        run: brew install libomp
      - name: Test examples
        uses: nick-fields/retry@v3
        env:
          NEPTUNE_API_TOKEN: ${{ secrets.NEPTUNE_API_TOKEN }}
        with:
          timeout_minutes: 60
          max_attempts: 2
          command: |
            cd ${{ matrix.scripts }}
            bash run_examples.sh
